[user]
	name = Jakob Beckmann
	email = beckmann_jakob@hotmail.fr

[core]
	editor = nvim
	excludesfile = ~/.gitignore

# Aliases
[alias]
	f = fetch -q
	b = branch
	cm = commit -m
	co = checkout
	st = status -sb
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ac = !git add -A && git commit -m
	ph = push -q
	phf = push -q --force-with-lease
	pl = pull -q

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[merge]
	tool = nvim -d
	conflictstyle = diff3

[mergetool]
	prompt = false
