[user]
	name = Jakob Beckmann
	email = jakobbeckmann@pm.me

[core]
	editor = nvim
	excludesfile = ~/.gitignore
	hooksPath = ~/.bootstrap/git/hooks/

[advice]
	skippedCherryPicks = false

[include]
	path = ~/.config/git/active.conf

[log]
	date = format:%Y-%m-%d %H:%M

[push]
	autoSetupRemote = true

[checkout]
	defaultRemote = origin

[pull]
	ff = only
	rebase = true

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	navigate = true
	line-numbers = true
	side-by-side = true

[interactive]
	diffFilter = delta --color-only

[difftool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
	tool = nvim

[mergetool]
	prompt = false

# Aliases
[alias]
	f = fetch -q
	b = branch -vv
	ba = branch -vva
	d = diff
	aa = add .
	a = add
	acs = commit -aS -m
	cc = commit -S -m
	ca = commit --amend -S -C HEAD
	ce = commit --amend -S -m
	co = checkout
	sw = switch
	re = reset
	s  = status -sb
	st = stash list
	sh = stash show --full-diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
	rs = reflog show
	ph = push -q
	phf = push -q --force-with-lease
	pl = pull -q
	w = worktree
	wa = worktree add
	wl = worktree list
	bc = !git branch -vva --color=always | grep -v '/HEAD\\s' | sk --ansi --tac | sed 's/^..//' | awk '{print $1}' | sed 's|^remotes/[^/]*/||' | xargs git switch
	bp = !git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[trailer]
	separators = ":#"

[trailer "rel"]
	key = "Relates-to: "
	ifexists = addIfDifferent

[trailer "impl"]
	key = "Implements: "
	ifexists = addIfDifferent

[trailer "coa"]
	key = "Co-authored-by: "
	ifexists = addIfDifferent
	cmd = ~/.local/bin/glog-find-author

[trailer "rev"]
	key = "Review-from: "
	ifexists = addIfDifferent
	cmd = ~/.local/bin/glog-find-author

[trailer "help"]
	key = "Helped-by: "
	ifexists = addIfDifferent
	cmd = ~/.local/bin/glog-find-author

[trailer "fix"]
	key = "Fix #"
	ifexists = addIfDifferent
