@font-face {
    font-family: 'FiraCodeBold';
        src: url('https://fontlibrary.org//face/fira-code/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/4b87499d3ea1a7e49a1b7d378620a71a/FiraCodeBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'FiraCodeLight';
        src: url('https://fontlibrary.org//face/fira-code/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/16cfbc94a37eee37fc38930a0ee6d3d1/FiraCodeLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'FiraCodeMedium';
        src: url('https://fontlibrary.org//face/fira-code/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/b7f872bdcd6635d32fc0467b32094fec/FiraCodeMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'FiraCodeRegular';
        src: url('https://fontlibrary.org//face/fira-code/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/1b433a821ef8f9a70eac6aea64f7cac8/FiraCodeRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'FiraCodeSemiBold';
        src: url('https://fontlibrary.org//face/fira-code/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/d6fb26d12ccd31fc67d19e507d8183dd/FiraCodeSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Fira Code';
        src: url('https://fontlibrary.org//face/fira-code/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/4b87499d3ea1a7e49a1b7d378620a71a/FiraCodeBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Fira Code';
        src: url('https://fontlibrary.org//face/fira-code/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/16cfbc94a37eee37fc38930a0ee6d3d1/FiraCodeLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Fira Code';
        src: url('https://fontlibrary.org//face/fira-code/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/b7f872bdcd6635d32fc0467b32094fec/FiraCodeMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Fira Code';
        src: url('/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/1b433a821ef8f9a70eac6aea64f7cac8/FiraCodeRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Fira Code';
        src: url('https://fontlibrary.org//face/fira-code/assets/fonts/fira-code/6aa58bd032ec58aecd8fa5af611a6882/d6fb26d12ccd31fc67d19e507d8183dd/FiraCodeSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }


