---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
# Force pointers to the type
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -1
FixNamespaceComments: true
NamespaceIndentation: None
