[user]
	name = Jakob Beckmann
	email = beckmann_jakob@hotmail.fr

[core]
	editor = vim
	excludesfile = ~/.gitignore

[log]
  date = format:%Y-%m-%d %H:%M

# Aliases
[alias]
	f = fetch -q
	b = branch
	a = add .
	cm = commit -m
	ca = commit --amend -C HEAD
  cae = commit --amend -m
	co = checkout
	s = status -sb
	st = stash list
	sh = stash show --full-diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
	ac = !git add -A && git commit -m
	ph = push -q
	phf = push -q --force-with-lease
	pl = pull -q

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
