[user]
	name = Jakob Beckmann
	email = jakobbeckmann@pm.me

[core]
	editor = nvim
	excludesfile = ~/.gitignore

[log]
	date = format:%Y-%m-%d %H:%M

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	navigate = true
	line-numbers = true
	side-by-side = true

[include]
	path = ~/.config/git/active.conf

[interactive]
	diffFilter = delta --color-only

[difftool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
	tool = nvim

[mergetool]
	prompt = false

# Aliases
[alias]
	f = fetch -q
	b = branch -vv
	d = diff
	aa = add .
	a = add
	acs = commit -aS -m
	cc = commit -S -m
	ca = commit --amend -S -C HEAD
	ce = commit --amend -S -m
	co = checkout
	re = reset
	s  = status -sb
	st = stash list
	sh = stash show --full-diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
	rs = reflog show
	ph = push -q
	phf = push -q --force-with-lease
	pl = pull -q

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[pull]
	ff = only
	rebase = true
